@font-face {
  font-family: 'babapro';
  src: url('./assets/fonts/babapro/BabaPro-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'caviar-dreams';
  src: url('./assets/fonts/caviar_dreams/CaviarDreams.ttf') format('truetype');
}

body {
  margin: 0;
  font-family: 'caviar-dreams', Arial, sans-serif;
  font-size: 1rem;
  background-color: #222026;
  width: 100%;
}

.content h1 {
  font-family: 'babapro', Arial, sans-serif;
  font-size: 35rem;
  color: #1F41DA;
  margin: 10rem 0;
  text-align: left;
}

h2 {
  font-family: 'babapro', Arial, sans-serif;
  font-size: 4rem;
  color: #1F41DA;
}

.logo {
  margin: 0;
  font-size: 1rem;
}

.navbar {
  color: white;
  background-color: #1F41DA;
  padding: 0.3rem 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  /* Full width of parent */
  box-sizing: border-box;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
}

.nav-container {
  display: flex;
  justify-content: flex-end;
  flex: 1;
  padding: 1rem;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 1rem;
  margin: 0;
  padding: 0;
}

.nav-links li a {
  padding: 1.5rem;
  color: white;
  text-decoration: none;
  font-weight: bold;
  transition: background-color 0.3s;
}

.nav-links li a:hover {
  text-decoration: underline;
  background-color: #21358e;
}

.content {
  padding-top: 6rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  box-sizing: border-box;
}

.button-nav {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  width: 98vw;
}

.button-nav a {
  font-family: 'babapro';
  font-size: 5rem;
  color: #C44DEB;
  transition: color 0.3s;
}

.button-nav a:hover {
  font-family: 'babapro';
  font-size: 5rem;
  color: #7f289c;
}

/* SEARCH BAR CONTAINER */
.search-container {
  display: flex;
  justify-content: center;
  width: 100vw;
  margin-bottom: 5rem;
}

.search-bar {
  font-family: 'caviar-dreams', Arial, sans-serif;
  align-items: flex-start;
  width: 70vw;
  padding: 1rem 1.5rem;
  font-size: 1.5rem;
  border-radius: 8px;
  border: 3px solid #1F41DA;
  background-color: #2D2A32;
  color: white;
  outline: none;
  transition: all 0.3s ease;
}

.search-bar::placeholder {
  color: #C44DEB;
  opacity: 0.7;
}

.search-bar:hover {
  border-color: #21358e;
}

.search-bar:focus {
  border-color: #C44DEB;
  box-shadow: 0 0 20px rgba(31, 65, 218, 0.5);
}

/* Playlist.css */
.playlist-content ul {
  list-style: none;
  padding: 0;
  width: 60vw;
}

.playlist-item {
  margin-bottom: 2rem;
  padding: 1rem;
  border: 2px solid #1F41DA;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.2s;
  background-color: #2D2A32;
}

.playlist-item:hover {
  background-color: #323038;
}

.playlist-title {
  font-size: 2rem;
  color: #C44DEB;
  font-family: 'babapro';
}

.song-item {
  color: white;
  font-size: 1.2rem;
  margin-bottom: 0.5rem;
}

/* Play Button */
.play-btn {
  background-color: #C44DEB;
  font-family: 'babapro';
  font-size: 2rem;
  padding: 0.5rem 2rem;
  border-radius: 8px;
  transition: background-color 0.3s ease;

  position: fixed;
  bottom: 5rem;
  right: 5rem;
  z-index: 1000;
}

.play-btn a {
  color: white;
}

.play-btn a:hover {
  color: white;
}

.play-btn:hover {
  background-color: #7f289c;
}