@font-face {
  font-family: 'babapro';
  src: url('./assets/fonts/babapro/BabaPro-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'caviar-dreams';
  src: url('./assets/fonts/caviar_dreams/CaviarDreams.ttf') format('truetype');
}

body {
  margin: 0;
  font-family: 'caviar-dreams', Arial, sans-serif;
  font-size: 1rem;
  background-color: #222026;
}

h1 {
  font-family: 'babapro', Arial, sans-serif;
  font-size: 40rem;
  color: #1F41DA;
  margin: 10rem 3rem 8rem 0;
}

.logo {
  margin: 0;
  font-size: 1rem;
}

.navbar {
  color: white;
  background-color: #1F41DA;
  padding: 0.3rem 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100vw;
  margin-left: calc(-50vw + 50%);
  position: relative;
  left: 50%;
  right: 50%;
  box-sizing: border-box;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
}

.nav-container {
  display: flex;
  justify-content: flex-end;
  flex: 1;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 1.5rem;
  margin: 0;
  padding: 0;
}

.nav-links li a {
  padding: 1.5rem;
  color: white;
  text-decoration: none;
  font-weight: bold;
  transition: background-color 0.3s;
}

.nav-links li a:hover {
  text-decoration: underline;
  background-color: #21358e;
}

.content {
  padding: 2rem;
}

.button-nav {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  width: 98vw;
}

.button-nav a {
  font-family: 'babapro';
  font-size: 5rem;
  color: #C44DEB;
  transition: color 0.3s;
}

.button-nav a:hover {
  font-family: 'babapro';
  font-size: 5rem;
  color: #7f289c;
}